name: Pull Request Guard
on: [pull_request]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/install_dependencies

      - uses: Maggi64/eslint-plus-action@master
        with:
          npmInstall: false

  build:
    needs: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/install_dependencies

      - name: Build
        run: yarn build
